<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<h3>Showing errors combined with pristine (name) or touched (country)</h3>

<form [formGroup]="personGroup" (ngSubmit)="submitted()">
  <label>
    Name:
    <input type="text" formControlName="name" />
    <span
      [hidden]="
        personGroup.controls.name.pristine || !personGroup.controls.name.errors
      "
      >{{ personGroup.controls.name.errors | json }}</span
    >
    <ul>
      @if (personGroup.controls.name.pristine) {
        <li>Pristine</li>
      }
      @if (personGroup.controls.name.dirty) {
        <li>Dirty</li>
      }
      @if (personGroup.controls.name.touched) {
        <li>Touched</li>
      }
      @if (personGroup.controls.name.untouched) {
        <li>Untouched</li>
      }
    </ul>
  </label>
  <br />
  <label>
    Country:
    <input type="text" formControlName="country" />
    <span
      [hidden]="
        personGroup.controls.country.untouched ||
        !personGroup.controls.country.errors
      "
      >{{ personGroup.controls.country.errors | json }}</span
    >
    <ul>
      @if (personGroup.controls.country.pristine) {
        <li>Pristine</li>
      }
      @if (personGroup.controls.country.dirty) {
        <li>Dirty</li>
      }
      @if (personGroup.controls.country.touched) {
        <li>Touched</li>
      }
      @if (personGroup.controls.country.untouched) {
        <li>Untouched</li>
      }
    </ul>
  </label>
  <br />
  <button type="submit" [disabled]="personGroup.invalid">Submit</button>
</form>
@if (submittedData) {
  <h3>Submitted: {{ submittedData | json }}</h3>
}
