<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2018 Rick Beerendonk -->

<p>{{ 123.456 | number }} <strong> = Default</strong></p>
<!-- 123.456 -->

<p>
  {{ 123.456 | number : '1.0-1' }}
  <strong> = Min. 1 integer digit & max. 1 digit after fraction</strong>
</p>
<!-- 123.5 -->

<p>
  {{ 123.456 | number : '5.5-5' }}
  <strong> = Min. 5 integer digits & min. 5 digits after fraction</strong>
</p>
<!-- 00,123.45600 -->

<p>{{ 1234.567 | number : '' : 'en' }} <strong> = English</strong></p>
<!-- 1,234.567 -->

<p>{{ 1234.567 | number : '' : 'fr' }} <strong> = French</strong></p>
<!-- 1 234,567 -->
