/*! Mozilla Public License Version 2.0 !*/
/*! Copyright © 2017 Rick Beerendonk   !*/

/* Style only apply to this component, not the parent nor the child components */

div {
  background-color: #444;
  color: white;
  height: 50px;
  width: 150px;
}
