<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<form #myForm="ngForm" (ngSubmit)="submitted()">
  <label>
    Name:
    <input
      type="text"
      [(ngModel)]="model.name"
      name="name"
      required
      minlength="4"
      #name="ngModel"
    />
  </label>
  <span [hidden]="!name.errors" class="error">
    {{ name.errors | json }}
  </span>
  <ul>
    <li *ngIf="name.pristine">Pristine</li>
    <li *ngIf="name.dirty">Dirty</li>
    <li *ngIf="name.touched">Touched</li>
    <li *ngIf="name.untouched">Untouched</li>
  </ul>
  <br />
  <label>
    Age:
    <input
      type="number"
      [(ngModel)]="model.age"
      name="age"
      min="0"
      #age="ngModel"
    />
    <span [hidden]="!age.errors" class="error">{{ age.errors | json }}</span>
    <ul>
      <li *ngIf="age.pristine">Pristine</li>
      <li *ngIf="age.dirty">Dirty</li>
      <li *ngIf="age.touched">Touched</li>
      <li *ngIf="age.untouched">Untouched</li>
    </ul>
  </label>
  <br />
  <button (click)="myForm.reset()">Reset</button>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<h3 *ngIf="submittedData">Submitted: {{ submittedData | json }}</h3>
