<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<h1>Map</h1>

<h2>Default order</h2>
<ul>
  @for (item of map | keyvalue; track item.key) {
    <li>{{ item.key }}: {{ item.value }}</li>
  }
</ul>
<!-- 
first: Three
second: 444
three: 3030
: 222
: true
-->

<h2>Compare function order</h2>
<ul>
  @for (item of map | keyvalue: compareDesc; track item.key) {
    <li>{{ item.key }}: {{ item.value }}</li>
  }
</ul>
<!-- 
second: 444
three: 3030
first: Three
: true
: 222
-->
