<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2018 Rick Beerendonk -->

<p>{{ 12.34567 | percent }} <strong> = Default</strong></p>
<!-- 1,235% -->

<p>
  {{ 12.34567 | percent : '1.0-1' }}
  <strong> = Min. 1 integer digit & max. 1 digit after fraction</strong>
</p>
<!-- 1,234.6% -->

<p>
  {{ 12.34567 | percent : '5.5-5' }}
  <strong> = Min. 5 integer digits & min. 5 digits after fraction</strong>
</p>
<!-- 01,234.56700% -->

<p>{{ 12.34567 | percent : '' : 'en' }} <strong> = English</strong></p>
<!-- 1,235% -->

<p>{{ 12.34567 | percent : '' : 'fr' }} <strong> = French</strong></p>
<!-- 1 235 % -->
