/*! Copyright © 2018 Rick Beerendonk !*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: Montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Comfortaa;
}

body > :first-child::before {
  content: 'Copyright © Rick Beerendonk';
  font-family: Comfortaa;
  font-size: min(4vw, 1.7rem);
  font-weight: bold;
  line-height: 2rem;
  display: block;
  position: fixed;

  background-color: #444;
  background-image: url('assets/oblicum-logo.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.8rem);
  color: white;
  border-color: #444;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 2rem;

  padding-left: 0.7rem;
  padding-right: 1rem;

  bottom: 0;
  left: 0;
  margin: 1rem;
  height: 2rem;
  width: calc(100% - 4rem);

  opacity: 0.7;
  z-index: 99;
}

/* Material */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Calibri;
}

mat-toolbar {
  justify-content: space-between;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
