/*! European Union Public License version 1.2 !*/
/*! Copyright © 2018 Rick Beerendonk          !*/

/* Style only apply to this component, not the parent nor the child components */

div {
  color: white;
}

:host {
  background: #d676ff;
  border: 1px solid #444;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
