<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2019 Rick Beerendonk -->

<h3>Showing errors combined with pristine (name) or touched (country)</h3>

<form [formGroup]="personGroup" (ngSubmit)="submitted()">
  <label>
    Name:
    <input type="text" formControlName="name" />
    <span
      [hidden]="
        personGroup.controls.name.pristine || !personGroup.controls.name.errors
      "
      >{{ personGroup.controls.name.errors | json }}</span
    >
    <ul>
      <li *ngIf="personGroup.controls.name.pristine">Pristine</li>
      <li *ngIf="personGroup.controls.name.dirty">Dirty</li>
      <li *ngIf="personGroup.controls.name.touched">Touched</li>
      <li *ngIf="personGroup.controls.name.untouched">Untouched</li>
    </ul>
  </label>
  <br />
  <label>
    Country:
    <input type="text" formControlName="country" />
    <span
      [hidden]="
        personGroup.controls.country.untouched ||
        !personGroup.controls.country.errors
      "
      >{{ personGroup.controls.country.errors | json }}</span
    >
    <ul>
      <li *ngIf="personGroup.controls.country.pristine">Pristine</li>
      <li *ngIf="personGroup.controls.country.dirty">Dirty</li>
      <li *ngIf="personGroup.controls.country.touched">Touched</li>
      <li *ngIf="personGroup.controls.country.untouched">Untouched</li>
    </ul>
  </label>
  <br />
  <button type="submit" [disabled]="personGroup.invalid">Submit</button>
</form>
<h3 *ngIf="submittedData">Submitted: {{ submittedData | json }}</h3>
