<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<div class="container">
  <span [class.unavailable]="!show()">The conditional item:</span>
  @if (show()) {
    <div class="content">
      <!--
        Don't use ng-content directly.
        ng-content should not always be created, so us ng-container + ng-template instead:
        * ng-container acts as the host to structural directives.
        * ngTemplateOutlet acts as a placeholder to render a template
      -->
      <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </div>
  }
</div>

<ng-template #tempOutlet>
  <ng-content></ng-content>
</ng-template>
