<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<form #myForm="ngForm" (ngSubmit)="submitted()">
  <label>
    Name:
    <input
      type="text"
      [(ngModel)]="model.name"
      name="name"
      required
      minlength="4"
      #name="ngModel"
    />
  </label>
  <span [hidden]="!name.errors" class="error">
    {{ name.errors | json }}
  </span>
  <ul>
    @if (name.pristine) {
      <li>Pristine</li>
    }
    @if (name.dirty) {
      <li>Dirty</li>
    }
    @if (name.touched) {
      <li>Touched</li>
    }
    @if (name.untouched) {
      <li>Untouched</li>
    }
  </ul>
  <br />
  <label>
    Age:
    <input
      type="number"
      [(ngModel)]="model.age"
      name="age"
      min="0"
      #age="ngModel"
    />
    <span [hidden]="!age.errors" class="error">{{ age.errors | json }}</span>
    <ul>
      @if (age.pristine) {
        <li>Pristine</li>
      }
      @if (age.dirty) {
        <li>Dirty</li>
      }
      @if (age.touched) {
        <li>Touched</li>
      }
      @if (age.untouched) {
        <li>Untouched</li>
      }
    </ul>
  </label>
  <br />
  <button (click)="myForm.reset()">Reset</button>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<h3 *ngIf="submittedData">Submitted: {{ submittedData | json }}</h3>
