<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2019 Rick Beerendonk -->

<ul>
  <li
    *ngFor="
      let item of items;
      index as idx;
      first as firstItem;
      last as lastItem;
      odd as oddItem;
      even as evenItem
    "
  >
    {{ item }}

    <ul>
      <li>Index: {{ getTypeOf(idx) }}</li>
      <li>First: {{ getTypeOf(firstItem) }}</li>
      <li>Last: {{ getTypeOf(lastItem) }}</li>
      <li>Odd: {{ getTypeOf(oddItem) }}</li>
      <li>Even: {{ getTypeOf(evenItem) }}</li>
    </ul>
  </li>
</ul>
